<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wayhome.srpingbootmybatis.mapper.FixmedisExpertInfoDao">

    <update id="updateAuditStatus" parameterType="com.wayhome.srpingbootmybatis.entity.UpdateExpertAuditStatusDTO">
        update fixmedins_expert_info_d
        <set>
            <choose>
                <when test='auditStep =="1"'>
                    COUNTY_AUDIT = #{auditStatus},
                    COUNTY_AUDIT_MSG = #{auditMsg},
                </when>
                <when test='auditStep =="2"'>
                    CITY_AUDIT = #{auditStatus},
                    CITY_AUDIT_MSG = #{auditMsg},
                </when>
                <otherwise>
                    AUDIT_STATUS = #{auditStatus},
                    AUDIT_MSG = #{auditMsg},
                </otherwise>
            </choose>
<!--            <choose>-->
<!--                <when test="auditStep =='1'">-->
<!--                    COUNTY_AUDIT = #{auditStatus},-->
<!--                    COUNTY_AUDIT_MSG = #{auditMsg},-->
<!--                </when>-->
<!--                <when test="auditStep =='2'">-->
<!--                    CITY_AUDIT = #{auditStatus},-->
<!--                    CITY_AUDIT_MSG = #{auditMsg},-->
<!--                </when>-->
<!--                <otherwise>-->
<!--                    AUDIT_STATUS = #{auditStatus},-->
<!--                    AUDIT_MSG = #{auditMsg},-->
<!--                </otherwise>-->
<!--            </choose>-->
            AUDIT_STEP = #{nextAuditStep}
        </set>
        where EXPERT_CODE = #{expertCode} and AUDIT_STEP = #{auditStep} and VALI_FLAG = '1'
    </update>
</mapper>